<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_p-header') %>
    <main>
        <!-- page fv -->
        <%- include('./component/_c-page-fv', {page:'contact'}) %>
        <div class="l-inner">
            <!-- breadcrumb -->
            <div class="l-breadcrumb">
                <%- include('./component/_c-breadcrumb', {pageTitle:'お問い合わせ'}) %>
            </div>
            
        </div>
    </main>

    </div>
    <!-- to top -->
    <%- include('./component/_c-to-top') %>
    <!-- footer -->
    <%- include('./common/_footer') %>
  </body>
</html>