<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>

    <%- include('./common/_p-header') %>
    <main>
      <!-- top fv -->
      <%- include('./project/_p-top-fv') %>
      <div class="l-inner">
        <!-- news -->
        <%- include('./project/_p-top-news') %>
        <!-- overview -->
        <%- include('./project/_p-top-overview') %>
        <!-- <%- include('./component/_c-section-title',{japaneseTitle:'事業内容',englishTitle:'Content'}) %>
        <%- include('./component/_c-section-title',{japaneseTitle:'制作実績',englishTitle:'Works'}) %>
        <%- include('./component/_c-section-title',{japaneseTitle:'企業概要',englishTitle:'Overview'}) %>
        <%- include('./component/_c-section-title',{japaneseTitle:'ブログ',englishTitle:'Blog'}) %>
        <%- include('./component/_c-section-title',{japaneseTitle:'お問い合わせ',englishTitle:'Contact'}) %> -->
      </div>
    </main>

    <%- include('./common/_footer') %>
    
  </body>
</html>
