<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_top-header') %>
    <div>
      <%- include('./component/_c-btn',{text:'詳しく見る', link:'#'}) %>
    </div>
    <%- include('./component/_c-label',{text:'お知らせ', section:'news'}) %>
    <%- include('./component/_c-label',{text:'カテゴリ', section:'blog'}) %>
    
    <%- include('./component/_c-hamburger') %>
      <%- include('./component/_c-map') %>
    <%- include('./common/_footer') %>






  </body>
</html>
