<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_p-header') %>
    <main>
        <!-- page fv -->
        <%- include('./component/_c-page-fv', {page:'overview'}) %>
        <div class="l-inner">
            <!-- breadcrumb -->
            <div class="l-breadcrumb">
                <%- include('./component/_c-breadcrumb', {pageTitle:'企業概要'}) %>
            </div>
            <!-- overview list -->
            <div class="l-overview-list">
                <%- include('./project/_p-overview-list') %> 
            </div>
            <!-- google map -->
            <div class="l-map">
                <%- include('./component/_c-map') %>
            </div>
        </div>
    </main>
    <!-- contact -->
    <div class="l-contact">

    </div>
    <!-- to top -->
    <%- include('./component/_c-to-top') %>
    <!-- footer -->
    <%- include('./common/_footer') %>
  </body>
</html>